@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Darker+Grotesque&family=Gruppo&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  font-family: "Caudex";
}

header {
  display: flex;
  justify-content: space-around;
  color: rgb(170, 73, 5);
  padding: 10px;
  font-family: "Gruppo";
  width: 100%;
  font-size: large;
  font-variant: small-caps;
  font-weight: 800;
  border-bottom: 1px solid rgb(170, 73, 5);
}

/* h1::first-letter {
  font-size: 50px;
  font-family: "Grotesque";
} */

nav {
  background-color: rgb(170, 73, 5);
  text-align: center;
  display: flex;
  width: 100%;
}
button {
  background-color: rgb(170, 73, 5);
  font-weight: 700;
  height: 50px;
  width: 28%;
  margin-right: -6px;
  border: none;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  font-size: large;
  font-family: "Gruppo", cursive;
  outline: none;
  color: white;
  transition: 1s;
}

button:hover {
  background-color: white;
  color: rgb(170, 73, 5);
  border: 1px solid rgb(170, 73, 5);
}

.SuiteName {
  padding: 20px;
  font-size: xxx-large;
  color: rgb(170, 73, 5);
  text-align: center;
}

.SuiteDesc {
  padding: 25px;
  font-size: larger;
}
main {
  text-align: center;
}

article {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  margin: 50px 0px;
}
.btns {
  flex-basis: 90%;
}
footer {
  text-align: center;
  background-color: rgb(170, 73, 5);
  padding: 20px;
  font-weight: 600;
  color: wheat;
}
.cost,
.Amenities {
  font-size: larger;
}
.cost h4,
.Amenities h4 {
  font-weight: 600;
  color: chocolate;
}

a {
  background-color: rgb(170, 73, 5);
  padding: 10px;
  border-radius: 5px;
  color: white;
  transition: 1s;
}

a:hover {
  background-color: white;
  color: rgb(170, 73, 5);
  border: 1px solid rgb(170, 73, 5);
}
#icons {
  display: none;
  color: rgb(170, 73, 5);
}

.reserve {
  margin-bottom: 40px;
  margin-left: 70px;
}

@media (max-width: 750px) {
  .btns {
    visibility: hidden;
    flex-basis: 92%;
    height: 0px;
    transition: 0.5s;
  }
  nav {
    background-color: white;
  }
  #icons {
    display: block;
  }
  button {
    display: block;
    width: 100%;
    border: none;
    background-color: white;
    color: black;
    background-color: transparent;
  }
  button:hover {
    background-color: transparent;
    color: chocolate;
    border: none;
  }

  a {
    width: 100%;
  }
  img {
    max-width: 85%;
  }

  .show {
    visibility: visible;
    height: 130px;
    transition: 1s;
  }
  article {
    grid-template-columns: 30% auto;
    grid-gap: 40px 0px;
  }
  .reserve {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .sect2 {
    display: none;
  }
  header {
    text-align: center;
  }
}
